* {
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
    padding: 22px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 32px;
    display: inline-block;
}

.nav_list {
    display: flex;
    align-items: center;
}

.nav_list_item_first {
    list-style: none;
}

.nav_list_item {
    margin-left: 32px;
    list-style: none;
}

.nav_list_item_last {
    padding: 11px 20px;
    margin-left: 31px;
    background-color: #1B1A1A;
    border-radius: 14px;
    list-style: none;
}

.nav_list_link {
    color: #1B1A1A;
    font-size: 15px;
    display: inline-block;
    text-decoration: none;
}

.nav_list_link_last {
    color: #FFFFFF;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
}

.section1 {
    background-color: #ECE7E4;
    padding-top: 137px;
    padding-bottom: 128px;
    background-image: url("../images/background banner.jpg");
    background-position: right;
    background-repeat: no-repeat;
}

.section1_container {
    max-width: 1200px;
    margin: auto;
}

.section1_container_width {
    max-width: 509px
}

.section1_h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
    margin-bottom: 20px;
}

.section1_h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A;
    margin-bottom: 10px;
}

.section1_p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
    margin-bottom: 41px
}

.section1_link {
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    margin-left: 25px;
}

.section2 {
    background-color: #CEC4BC;
    padding-top: 100px;
    padding-bottom: 117px;
}

.section2_width {
    max-width: 500px;
}

.section2_h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}

.section2_h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #1B1A1A;
    margin-bottom: 13px;
}

.section2_link {
    text-decoration: none;
    margin-top: 45px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    display: inline-block;
}

.footer {
    background-color: #F7F7F7;
    padding: 62px 60px;
}

.footer_width {
    max-width: 400px;
}

.footer_logo {
    display: inline-block;
    margin-bottom: 20px
}

.footer_p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #645C55;
}

.footer_socials {
    display: flex;
}

.footer_socials_item_twitter {
    margin-top: 60px;
    list-style: none;
}

.socials_link {
    display: inline-block;
    text-decoration: none;
}

.footer_socials_item_instagram {
    margin-left: 20px;
    margin-top: 58px;
    list-style: none;
}

.footer_socials_item_facebook {
    margin-left: 26px;
    margin-top: 58px;
    list-style: none;
}

.our_process {
    background-color: white;
    padding: 100px 0 100px 0;
    max-width: 1200px;
    margin: auto;
}

.our_process h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 13px;
    color: #645C55;
}

.position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.our_process h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    text-align: center;
    color: #1B1A1A;
    margin-bottom: 47px;
}

.our_process h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #403E3B;
    margin-top: 15px;
    margin-bottom: 10px;

}

.our_process p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #645C55;
    max-width: 300px;
}

.img {
    display: block;
    max-width: 117px;
}

.text-position {
    margin-left: auto;
    margin-right: auto;
}

.owl-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.owl-carousel .owl-item img {
    display: inline-flex;
}

.owl-dots {
    text-align: center;
    padding-top: 15px;
}

.owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ECE7E4;
    margin: 0 5px;
}

.owl-dots button.owl-dot.active {
    background-color: #181818;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    background: rgba(255, 255, 255, 0.4);
}
.ui-icon{
    text-indent: 0;
    background-position: 0;
    overflow: inherit;
    content: url("../images/xmark-solid.svg");
    width: 17px;
    height: 17px;
}


.ui-widget-header {
    background-color: rgba(236, 231, 228, 0.9);
}

.ui-widget-content{
    background-color: rgba(255, 255, 255, 0.9);
}
.ui-widget-header .ui-icon{
    background-image: none;
}
.ui-button .ui-icon{
    background-image: none;
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon{
    background-image: none;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button{
    color: #FFFFFF;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus{
    transition: 0.5s;
    transform: scale(0.9);
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus{
    background-color: white;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    transition: 0.5s;

}

.ui-icon, .ui-widget-content .ui-icon{
    background-image: none;
}

.ui-widget-header{
    color: black;
    font-size: 18px;
}
.ui-widget-content{
    color: #645C55;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.ui-corner-all{
    border-radius: 12px
}
.ui-dialog .ui-dialog-titlebar-close{
    height: 25px;
    width: 25px;
    margin: -14px 0 0 0;
}





